@import url("fontello/css/fontello.css");
@font-face {
    font-family: 'TT Mussels';
    src: url('font/TTMussels-Regular.eot');
    src: local('TT Mussels Regular'), local('TTMussels-Regular'), url('font/TTMussels-Regular.eot?#iefix') format('embedded-opentype'), url('font/TTMussels-Regular.woff2') format('woff2'), url('font/TTMussels-Regular.woff') format('woff'), url('font/TTMussels-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blank River';
    src: url('font/Blank-River.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --basecolor: #EEB209;
    --basecolor2: #643477;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat !important;
    font-size: 1rem;
    color: #fff;
}

html {
    font-size: 21px;
}

body {
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
    min-width: 1150px;
    max-width: 1920px;
    background-color: #000000;
    color: #fff;
    font-family: 'Blank River';
}

:focus {
    outline: 0 !important;
}

[class^=wrapper-],
[class*=" wrapper-"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

[hidden] {
    display: none;
}

[type=checkbox],
[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

a {
    text-decoration: none;
}

b {
    font-size: inherit;
    color: inherit;
    font-weight: 600;
    font-weight: normal;
    font-style: normal;
}

strong,
.bold {
    font-weight: 600;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

p,
p * {
    margin: 16px 0;
    line-height: 1.1rem;
    font-family: 'TT Mussels', cursive;
}

li {
    line-height: 1.9rem;
}

span,
em,
a,
i,
strong,
b {
    font-size: inherit;
    color: inherit;
}

li {
    list-style: none;
}

.center {
    text-align: center;
}

.content-l {
    max-width: 1188px;
    margin: 0 auto;
    padding: 0 10px;
}

.content-m {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}

.content-s {
    max-width: 915px;
    margin: 0 auto;
    padding: 0 10px;
}

.cap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #7b7b7b url(img/cap.png) top center;
    z-index: 99;
    padding: 25px 0;
    height: 100px;
    background-size: cover;
}

.logo,
.logo * {
    font-size: 2.4rem;
    line-height: 2rem;
}

.logo {
    position: relative;
    right: -20px;
}

.menu * {
    font-size: 1.33rem;
}

.menu a:hover {
    color: var(--basecolor);
}

.menu ul li:nth-child(1) a {
    width: 89px;
    height: 45px;
}

.menu ul li:nth-child(2) a {
    width: 109px;
    height: 49px;
}

.menu li a.active {
    color: var(--basecolor);
}

.menu li:nth-child(1) a.active {
    background: url(img/image-27.png) center;
}

.menu li:nth-child(2) a.active {
    background: url(img/image-28.png) center;
}

.menu ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
}

[class^=btn-] {
    background: var(--basecolor);
    border-radius: 18px;
    padding: 5px 25px;
    border: none;
    display: inline-block;
}

.btn-s {
    font-size: 1.14rem;
}

.btn-l {
    font-size: 2rem;
    padding: 13px 48px;
}

.btn-m {
    font-size: 1.14rem;
}

a[class^=btn-]:hover {
    background-color: var(--basecolor2);
}

.cap .wrapper-net a {
    margin-left: 24px;
}

.cap .wrapper-net {
    margin-left: 15px;
}

.cap .wrapper-net a:hover {
    color: var(--basecolor2);
}

.banner {
    margin-top: 100px;
    background: url(img/banner-1.png) center;
    height: 840px;
    background-size: cover;
}

.wrapper-net a {
    position: relative;
}

.cap .wrapper-net a:after {
    content: "";
    width: 29px;
    height: 2px;
    display: block;
    position: absolute;
    bottom: -2px;
    left: -1px;
    right: 0px;
    margin: 0 auto;
    background: url(img/after-link.png) center;
    opacity: 0;
}

.wrapper-net a:hover:after {
    opacity: 1;
}

.title-l {
    font-family: 'Blank River';
    font-size: 4.6rem;
    margin: 30px 0 30px;
    text-align: center;
    line-height: 4rem;
}

.wrapper-wolves-text .text {
    text-align: center;
    width: 52%;
    margin-top: -20px;
}

.wrapper-wolves-text img {
    width: 24%;
}

.wrapper-wolves-text .text p:first-child {
    margin-top: 0px;
}

.roadmap-section .title-l {
    margin-bottom: 50px;
}

.roadmap-section {
    padding-top: 80px;
}

.roadmap-box {
    height: 839px;
    background: url(img/banner-3.png) top center;
    background-size: cover;
}

.before {
    position: relative;
}

.wolves-skaters-section {
    padding: 85px 0 80px;
    z-index: 2;
}

.wolves-skaters-section .title-l {
    margin-bottom: 0px;
}

.before:before,
.after:after {
    content: "";
    width: 1119px;
    height: 93px;
    display: block;
    position: absolute;
    left: 0px;
    z-index: 1;
}

.team-section.before:before {
    transform: scale(-1, 1);
    right: 0;
    left: initial;
}

.before:before {
    top: -92px;
    background: url(img/before.png);
}

.after:after {
    top: -2px;
    background: url(img/after.png);
}

.after {
    position: relative;
}

.wrapper-imager-down img {
    width: 15.8%;
}

.wrapper-imager-down {
    margin-top: 20px;
}

.wrapper-imager-down img {
    width: 15.8%;
}

.wrapper-imager-down,
.wrapper-imager-up {
    align-items: flex-start;
}

.wrapper-imager-down img:nth-child(2),
.wrapper-imager-down img:nth-child(5),
.wrapper-imager-up img:nth-child(2),
.wrapper-imager-up img:nth-child(5) {
    margin-top: 47px;
}

.wrapper-imager-down img:nth-child(3),
.wrapper-imager-down img:nth-child(4),
.wrapper-imager-up img:nth-child(1),
.wrapper-imager-up img:nth-child(6) {
    margin-top: 94px;
}

.wrapper-texts {
    align-items: flex-start;
}

.wrapper-texts .half {
    width: 48%;
}

.lore-section .title-l {
    margin-bottom: 50px;
}

.wrapper-box {
    margin-top: 50px;
}

.box .btn-l {
    margin-top: 45px;
}

.tab-content__item {
    display: none;
}

.tab-content__item.active {
    display: block;
}

.tab-header li {
    font-size: 3.04rem;
    color: #000;
    cursor: pointer;
    position: absolute;
}

.tab-header li img {
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

.tab-header li.active img {
    visibility: initial;
}

.tab-header li[data-tab='1'] img {
    top: 25px;
    left: 88px;
}

.tab-header li[data-tab='2'] img {
    top: 62px;
    left: 43px;
}

.tab-header li[data-tab='3'] img {
    top: 61px;
    left: -35px;
}

.tab-header li[data-tab='4'] img {
    top: 38px;
    right: 98px;
}

.tab-header li[data-tab='5'] img {
    top: 1px;
    right: 119px;
}

.roadmap-box {
    position: relative;
}

.tab-header li span {
    z-index: 3;
}

.tab-header li:before {
    position: absolute;
    content: "";
    visibility: hidden;
    z-index: 2;
}

.tab-header li.active:before {
    visibility: initial;
}

.tab-header li[data-tab='1']:before {
    background: url(img/image-18.png) no-repeat;
    width: 132px;
    height: 119px;
    top: -43px;
    left: -30px;
}

.tab-header li[data-tab='2']:before {
    background: url(img/image-21.png) no-repeat;
    width: 154px;
    height: 104px;
    top: -32px;
    left: -34px;
}

.tab-header li[data-tab='3']:before {
    background: url(img/image-19.png) no-repeat;
    width: 125px;
    height: 120px;
    top: -44px;
    left: -25px;
}

.tab-header li[data-tab='4']:before {
    background: url(img/image-23.png) no-repeat;
    width: 155px;
    height: 105px;
    top: -33px;
    left: -34px;
}

.tab-header li[data-tab='5']:before {
    background: url(img/image-26.png) no-repeat;
    width: 171px;
    height: 113px;
    top: -35px;
    left: -37px;
}

.tab-header li[data-tab='1'] {
    top: 40%;
    left: 7%;
}

.tab-header li[data-tab='2'] {
    top: 28%;
    left: 20%;
}

.tab-header li[data-tab='3'] {
    top: 16%;
    left: 37%;
}

.tab-header li[data-tab='4'] {
    top: 9%;
    right: 34%;
    z-index: 2;
}

.tab-header li[data-tab='5'] {
    top: 11%;
    right: 7%;
}

.box-text {
    max-width: 447px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 18px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    padding: 30px;
}

.box-text p:first-child {
    margin-top: 0px;
}

.box-text p:last-child {
    margin-bottom: 0px;
}

.team-section {
    padding: 100px 0 0 0;
}

.team-image {
    width: 100%;
    margin-top: 40px;
    display: block;
}

.wrapper-footer .btn-m {
    padding: 14px 58px;
}

.link:hover {
    color: var(--basecolor);
}

.wrapper-footer .wrapper-net a {
    width: 85px;
    height: 60px;
    display: flex;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
}

.wrapper-footer .wrapper-net a+a {
    margin-left: 32px;
}

.wrapper-footer .wrapper-net a:hover {
    opacity: 0.8;
}

.wrapper-footer .wrapper-net .discord {
    background: var(--basecolor2);
}

.wrapper-footer .wrapper-net .twitter {
    background: #2B92F1;
}

.wrapper-footer .wrapper-net .opensea {
    background: #004FC6;
}

footer {
    background: rgba(255, 255, 255, 0.1);
    padding: 90px 0;
}

.wolf {
    margin: 0 240px 120px 0;
    display: inline-block;
}

.banner {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media (min-width:1500px) {
    .box-text {
        max-width: 750px;
        top: 40%;
    }
}

@media (min-width:1850px) {
    .roadmap-box {
        min-height: 1200px;
    }
}

@media (max-width:1300px) {
    .tab-header li[data-tab='1'] {
        left: 2%;
    }
    .tab-header li[data-tab='2'] {
        left: 15%;
    }
    .tab-header li[data-tab='4'] {
        right: 30%;
    }
    .tab-header li[data-tab='5'] {
        right: 2%;
    }
}